# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


const [formData, setFormData] = useState({
        familya: 'Yuldashev',
        ism: 'Shohruh',
        sharif: 'Shodmonovich',
        photo: null,
        joriyLavozimSanasi: '2020 yil 15 sentabrdan',
        joriyLavozimToLiq: 'Toshkent Axborot Texnologiyalari Universiteti dasturiy injiniring kafedrasi dotsenti',
        tugilganSana: '1985-06-20',
        tugilganJoyi: 'Toshkent shahri',
        millati: 'o\'zbek',
        malumoti: 'Oliy',
        partiyaviyligi: 'O\'zbekiston Liberal Demokratik partiyasi a\'zosi',
        tamomlagan: [
            '2007 yil Toshkent Axborot Texnologiyalari Universiteti (bakalavr)',
            '2009 yil Toshkent Axborot Texnologiyalari Universiteti (magistr)'
        ],
        mutaxassisligi: 'Dasturiy injiniring',
        ilmiyDarajasi: ['Texnika fanlari nomzodi (PhD)'],
        ilmiyUnvoni: ['Dotsent'],
        chetTillari: ['Ingliz tili', 'Rus tili'],
        mukofotlari: ['O\'zbekiston Respublikasi "Shuhrat" medali'],
        xalqDeputatimi: 'Toshkent shahar Kengashi deputati',
        mehnatFaoliyati: [],
        qarindoshlar: [
            {
                qarindoshligi: 'Otasi',
                fish: 'Yuldashev Shodmon Qosimovich',
                tugilganYiliVaJoyi: '1955 yil, Toshkent shahri',
                vafotEtgan: false,
                ishJoyiVaLavozimi: 'Pensiyada (sobiq maktab direktori)',
                turarJoyi: 'Toshkent shahri, Mirzo Ulug\'bek tumani, Navoiy ko\'chasi, 25-uy'
            },
            {
                qarindoshligi: 'Onasi',
                fish: 'Yuldasheva Dilfuza Xamidovna',
                tugilganYiliVaJoyi: '1960 yil, Toshkent shahri',
                vafotEtgan: false,
                ishJoyiVaLavozimi: 'Pensiyada (sobiq shifokor)',
                turarJoyi: 'Toshkent shahri, Mirzo Ulug\'bek tumani, Navoiy ko\'chasi, 25-uy'
            }
        ]
    });

    const [workExperiences, setWorkExperiences] = useState([
        {
            startYear: '2010',
            endYear: '2015',
            position: 'TATU dasturiy injiniring kafedrasi assistenti'
        },
        {
            startYear: '2015',
            endYear: '2020',
            position: 'TATU dasturiy injiniring kafedrasi katta o\'qituvchisi'
        },
        {
            startYear: '2020',
            endYear: 'now',
            position: 'TATU dasturiy injiniring kafedrasi dotsenti'
        }
    ]);